.toolbar {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 23px 60px;
  margin-bottom: 10px;
  margin-top: 5px;
  background-color: rgba(0, 0, 0, 0.3);
  padding-top:    21px;
  padding-bottom: 21px;
  border-bottom: solid 1px rgba(99, 99, 999, 0.2);;
  /* transition: opacity 0.3s ease-in-out; */
}
