.button {
  font-size: 2.1em;
  font-weight: 500;
  color: white;
  background-color: black;
  border: solid 2px purple;
  border-radius: 6px;
}

.button:hover {
  border: solid 3px blue;
  font-weight: 600;
}

.toolbar {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
  gap: 23px 60px;
  margin-bottom: 10px;
  margin-top: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  padding-top:    21px;
  padding-bottom: 21px;
  border-bottom: solid 1px rgba(99, 99, 999, 0.4);;
}
