.prompt-backdrop {
  position: fixed;
  inset:0;
  width: 100vw;
  height: 100vh;
  /* backdrop-filter: blur(4px); */
  backdrop-filter: blur(1.3px);
  /* background: rgba(0, 0, 0, 0.5); */
  background: rgba(0, 0, 0, 0.6);
}

.prompt-input {
  position: fixed;
  top: 16%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(0, 0, 0, 0.9);
  color: white;
  text-align: center;
  font-size: 20px;
  
  /* box-sizing: border-box; */
  border: solid 1px blue;
  border-radius: 5px;
  padding: 10px;
  width: 56%;
  height: 3%;
  max-width: 615px;

  /* height: 3.7%; */
  /* height: 5%; */
  /* max-width: 495px; */
  /* max-width: 591px; */
}
