html, body {
  margin: 0;
  padding: 0;
  background-color: black;
}
textarea {
  border: none;
  color: white;
  background-color: black;
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 100vh;
  font-size: 25px;
}

textarea:focus {
  outline: none;
}
