html, body {
  margin: 0;
  padding: 0;
}

body::before {
  content: '';
  inset: 0;
  position: fixed;
  z-index: -1;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, var(--bg-opacity, 0.7)), rgba(0, 0, 0, var(--bg-opacity, 0.7))), var(--app-image);
  background-color: black;
  /* fallback if there is not image*/
  background-size: cover;
  filter: blur(var(--bg-blur, 0));
}

textarea {
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, 0.7);
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 100vh;
  font-size: 25px;
}

textarea:focus {
  outline: none;
}
