html, body {
  margin: 0;
  padding: 0;
}

body::before {
  content: '';
  inset: 0;
  position: fixed;
  z-index: -1;
  background-color: black;
  background-image: linear-gradient(to bottom, rgba(0, 0, 0, var(--bg-opacity, 0.83)), rgba(0, 0, 0, var(--bg-opacity, 0.83))), var(--app-image);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  filter: blur(var(--bg-blur, 10px));
}

textarea {
  border: none;
  color: white;
  background-color: rgba(0, 0, 0, var(--editor-bg-opacity, 0));
  display: block;
  margin: 0 auto;
  width: 80%;
  height: 100vh;
  font-size: 25px;
}

textarea:focus {
  outline: none;
}
